@font-face {
  font-family: 'StarWars';
  src: url('../font/starjedi.ttf');
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #000000;
  background-image: url('../assets/background.png');
  background-position: center;
  color: #fbe000;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  font-family: 'StarWars';
  text-shadow: 0.2vh 0.2vh 0 #fbe000,
    0.2vh -0.2vh 0 #fbe000,
    -0.2vh 0.2vh 0 #fbe000,
    -0.2vh -0.2vh 0 #fbe000;
  color: #000000;
}

h1 {
  font-size: 3.8vh;
  line-height: 3vh;
  text-align: center;
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
  flex-grow: 1;
}

.copyright {
  display: flex;
  justify-content: center;
}

.author {
  margin-left: 0.4vh;
  text-decoration: none;
  color: #fff391;
}

.author:hover {
  color: #ffffff;
}