article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.game {
  max-height: 80vh;
  min-height: 40vh;
  max-width: 100vw;
  min-width: 60vw;
  width: 50vh;
  background-color: aqua;
}

.status {
  display: flex;
  justify-content: center;
  font-size: 3vh;
}

section.moves {
  max-height: 80vh;
  min-height: 40vh;
  max-width: 100vw;
  min-width: 40vw;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

label {
  font-size: 3vh;
}

li {
  font-size: 2vh;
}

button {
  font-size: 2vh;
}

.move-selected {
  font-weight: 700;
}
