article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.game {
  max-height: 80vh;
  min-height: 40vh;
  max-width: 100vw;
  min-width: 60vw;
  width: 50vh;
}

.status {
  display: flex;
  justify-content: center;
  font-size: 3vh;
  margin-bottom: 2vh;
}

section.moves {
  max-height: 80vh;
  min-height: 40vh;
  max-width: 100vw;
  min-width: 40vw;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 3.5vh;
}

.moves-list {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  max-height: 20vh;
  width: 100%;
  margin: 2vh;
}

.moves-list div {
  font-size: 3vh;
}

.move-selected {
  font-weight: 700;
}
