.square {
  max-height: 20vw;
  max-width: 20vw;
  width: 8vh;
  height: 8vh;
  margin: 1vh;
  font-size: 4vh;
  text-align: center;
}

.empty {
  cursor: pointer;
}

.darkened {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
