.square {
  background: #fff;
  border: 0;
  float: left;
  font-size: 2vw;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 6vw;
  height: 6vw;
  margin: 1vw;
}

.square:focus {
  outline: none;
}

.square.highlight {
  color: red;
}
