body {
  font: 15px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

header h1 {
  font-size: 50px;
}

.game {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.status {
  display: flex;
  justify-content: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.board-row {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.square {
  background: #fff;
  border: 0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 10vw;
  height: 10vw;
  margin: 5vw;
}

.square:focus {
  outline: none;
}

.square.highlight {
  color: red;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-selected {
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  flex-grow: 1;
  background-color: white;
}